name: cd

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/cd.yml'
      - 'docs/**'
      - 'includes/**'
      - 'zensical.toml'
  workflow_dispatch:
  # inputs:
  #   logLevel:
  #     description: 'Log level'
  #     required: true
  #     default: 'warning'

concurrency:
  group: 'deploy'
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy (Zensical, ${{ matrix.os }}, py${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.optional }}
    timeout-minutes: 15 # default is 6 hours!
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            python-version: 3.x
            optional: false
    steps:

      - name: Git config
        run: |
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git config --global user.name 'github-actions[bot]'
          git config --global init.defaultBranch main

      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false

      # https://github.com/actions/setup-python
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools build
          python3 -m pip install zensical

      - name: Build docs with zensical
        run: |
          zensical build --clean

      # https://github.com/crazy-max/ghaction-github-status
      # - name: Check GitHub Pages status
      #   uses: crazy-max/ghaction-github-status@v4
      #   with:
      #     pages_threshold: major_outage

      # https://github.com/crazy-max/ghaction-github-pages
      - name: Deploy to GitHub Pages
        uses: crazy-max/ghaction-github-pages@v4
        with:
          build_dir: ./site
          fqdn: salonbaden.de
          author: 'Salonorchester Baden-Baden <info@salonbaden.de>'
          committer: 'github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>'
          # keep_history: false
          # target_branch: gh-pages
          jekyll: false
          verbose: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
